# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# VS Code settings
.vscode/

# Build output
dist/
build/

# Temporary files
tmp/
temp/

# System files
.DS_Store
Thumbs.db

#package lock file
package-lock.json